.custom_form_wrap {
    background-color: #bfc1b1;
    height: 100vh;
    .filter_section {
        background-color: #ffffff;
        .field-box {
            &-label {
                font-size: 15px;
                padding: 0rem 0.75rem;
            }
            &-body {
                >div{
                    width: 100%;
                }
                .o_field_widget{
                    .o_field_many2many_selection{
                        flex: 1 0 50px;
                    }
                    .text-truncate {
                        margin: 0px 15px
                    }
                }
            }
        }
    }
    .screen_section {
        height: 80%;
        background-color: #9ba59d;
        overflow: auto;
        table {
            thead{
                th {
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }
    }
}

